<!-- Add Book Modal -->
<section class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
        <div class="modal-content book_modal_card p-4">

            <!-- Title of add modal -->
            <div class="modal-header">
                <h3 class="modal-title" id="addBookModalLabel">Add a book</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <!-- modal body -->
            <div class="modal-body">

                <!-- Tabs -->
                <ul class="nav nav-tabs mb-3" id="addBookTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="manual-tab" data-bs-toggle="tab" data-bs-target="#manualTab" type="button" role="tab">
                            Manual upload
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link book_modal_tab" id="search-tab" data-bs-toggle="tab" data-bs-target="#searchTab" type="button" role="tab">
                            Search
                        </button>
                    </li>
                </ul>


                <div class="tab-content" id="addBookTabsContent">

                    <!-- Manual Upload Tab -->
                    <div class="tab-pane fade show active" id="manualTab" role="tabpanel">
                        <form action="{% url 'readquest:add-book' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- makes the user stay on the same page after clicking submit -->
                            <input type="hidden" name="next" value="{{ request.path }}">

                            <!-- Adding book manually form -->
                            <div class="row g-3">
                                <div class="col-12">
                                    <label class="form-label">Title <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="title" required maxlength="128"
                                        placeholder="Title of book">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Author <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" name="author" required maxlength="128"
                                        placeholder="Author of book">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">Pages <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" name="pages" required min="1"
                                        placeholder="0">
                                </div>
                                <div class="col-6">
                                    <label class="form-label">ISBN <span class="text-muted">(optional)</span></label>
                                    <input type="number" class="form-control" name="isbn" placeholder="ISBN">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Cover image <span
                                            class="text-muted">(optional)</span></label>
                                    <input type="file" class="form-control" name="cover_image" accept="image/*">
                                </div>
                                <input type="hidden" name="blurb" value="This is a user submitted book.">
                            </div>
                            <div class="d-flex justify-content-end gap-2 mt-3">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="button btn">Add to current read</button>
                            </div>
                        </form>
                    </div>

                    <!-- Search Tab for book API search-->
                    <div class="tab-pane fade" id="searchTab" role="tabpanel">
                        <form action="{% url 'readquest:catalogue_book-search' %}" method="get">
                            <label for="modalBookSearch" class="form-label">Book title</label>
                            <input type="search" class="form-control mb-3" id="modalBookSearch" name="q"
                                placeholder="Search for a book">
                            <div class="d-flex justify-content-end gap-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="button btn">Search</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>